.aboutSection{
    margin-bottom: var(--spacer-2xl);
}


#about{
    font-size: var(--text-subheader);
    scroll-margin-top: 50px;
}

.aboutText{
    color: var(--color-text);
    font-size: var(--text-base);
}