html{

    --blue-5: #575717;
    --blue-4: #194f85;
    --blue-3: #12497f;
    --blue-2: #0a4479;
    --blue-1: #e2e21a;



    --color-text:   var(--blue-1);
    --color-text-hover: var(--blue-5);
    --color-background: rgb(41, 40, 40);
    --color-tittles: #e2e21a;
    --color-warning: #FF5353;
}