<div class="header">

  <nav class="navbar">
    <a href="#about" class="oswald">&lt;About/&gt;</a>
    <a href="#work" class="oswald">&lt;Work/&gt;</a>
    <a href="#contact" class="oswald">&lt;Contact/&gt;</a>
  </nav>
  
</div>